#piePagina{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
#footerSeccion1{
    background: #26282B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    padding: 2% 5%;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 999;
    grid-template-rows: auto 1fr;
    transform: translate(0, -50%);
}
#titulofooter1{
    font-size: 30px;
    line-height: 32px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #DF991B;
    padding-top: 15px;
}

#titulofooter2{
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    color: #FFFFFF;
    align-self: start;
}
#miniForm{
    grid-row: 1/3;
    grid-column: 2/3;
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}
#nombreForm{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#nombreForm label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#nombreForm input{
    border-radius: 100px;
    border: 1px solid #DF991B;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
#emailform{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#emailform label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#emailform input{
    border-radius: 100px;
    border: 1px solid #DF991B;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
#botonregistro{
    display: flex;
    justify-content: end;
}

#botonregistro input{
    background-color: unset;
    color: #DF991B;
    padding: 5px 30px;
    border-radius: 100px !important;
    letter-spacing: 3px;
    border: 1px solid #DF991B;
    font-size: 17px;
    font-family: 'brandon-grotesque';
    font-weight: 390;
    margin-top: 0.6vw;
    height: 55px !important;
}
#footerSeccion2{
    padding: 8% 0 0 0;
    grid-row: 2/5;
    grid-column: 1/3;
    background: #000000;
}
#infofooter{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.infofooter1 a img{
    margin-left: 15%
}
.infofooter1 span a{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15%
}
.infofooter2 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.infofooter3 span a{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 16%;
    justify-content:end;
}
.infofooter4 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

#copyright{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #FFF;
    margin: 1% 5%;
    border-top: 1px solid white;
    padding-top: 1%;
    background: #000000;
}
















/*Footer*/
footer {
    background-color: black;
    width: 100vw;
    padding: 0 50px;
    display: grid;
    justify-content: center;

    position: relative;
    margin-top: 240px;
}

h6 {
    color: white;
    font-size: 30px;
}

.news {
    gap: 16px;
    background-color: #26282B;
    display: flex;
    gap: 16px;
    padding: 20px 50px;
    transform: translate(0, -50%);
}

.footerForm {
    /* display: flex;
    direction: column; */
    display: grid;
    gap: 15px;
}

.footerForm input {
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 50px;
    padding: 11px 24px;
    width: 100%;
}

.footerForm button{
    background-color: transparent;
    border: solid 1px #DF991B;
    border-radius: 50px;
    padding: 11px 24px;
    width: fit-content;
    color: #DF991B;
    justify-self: end;
}

.footerForm button:hover{
    background-color: white;
    color: #26282B;
    border: solid 1px #26282B;
}

.emailSpan {
    color: white;
}

/* footer-text  */
.footerInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
}